.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    min-height: 100vh; /* Full viewport height */
    margin: 0;
    padding: 20px;
    background: url('/public/images/login.webp');
    background-size: cover; /* Cover the entire container */
  }

/* Heading for the login page */
.login-container h1 {
    color: #000000;
    margin-bottom: 20px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Full width of its container */
    max-width: 400px; /* Max width of the form */
    background-color: #ffffff; /* Solid white background for the form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Form group styling */
form div {
    margin-bottom: 15px;
}

/* Label styling */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Input field styling */
input[type="email"],
input[type="password"] {
    width: 100%; /* Full width of its container */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

/* Button styling */
button {
    background-color: #4CAF50; /* Green color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    align-self: center; /* Center button horizontally */
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}
